@import "utils/variables", "utils/mixins";
@import "base/reset", "base/typography", "base/icons";
@import "components/inputs";
@import "layout/header", "layout/footer";
@import "sections/hero", "sections/story", "sections/products", "sections/manufacturing", "sections/contact";

html {
    scroll-behavior: smooth;
}

body {
    background: $neutral-100;
    color: $neutral-900;
}

section {
    padding: 0 $spacing-l;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-2xl 0;
    gap: $spacing-2xl;

    @include breakpoint-l {
        width: 100%;
        max-width: 1280px;
    }
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}