@import "utils/variables", "themes/themes" ,"utils/mixins";
@import "base/reset", "base/typography", "base/icons";
@import "components/inputs";
@import "layout/header", "layout/footer";
@import "sections/hero", "sections/story", "sections/products", "sections/manufacturing", "sections/contact";

html {
    scroll-behavior: smooth;
    color-scheme: light;
}

html.dark-theme {
    color-scheme: dark;
}

@include themes($themes) {
    body {
        background: theme("neutral-100");
        color: theme("neutral-900");
    }
}

section {
    padding: 0 $spacing-l;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-2xl 0;
    gap: $spacing-2xl;

    @include breakpoint-l {
        width: 100%;
        max-width: 1280px;
        gap: $spacing-3xl;
    }
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.no-transition * {
    transition: none!important;
}