@include themes($themes) {
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacing-xs;
        height: 44px;
        padding: 0 $spacing-m 0 $spacing-l;
        font-weight: 600;
        border-radius: $radius-round;
        text-decoration: none;
        border: none;
        cursor: pointer;
        transition: .3s ease;

        &.primary {
            background: $yellow;
            color: $neutral-900;

            &:hover {
                background: #F7B66E;
            }

            &:active, &:focus-visible {
                box-shadow: inset 0 0 0 1.5px rgb(0 0 0 / 10%);
                outline: none;
            }
        }

        &.white {
            background: $neutral-100;
            color: $neutral-900;
            
            &:hover {
                background: $neutral-200;
            }

            &:active, &:focus-visible {
                box-shadow: inset 0 0 0 1.5px $neutral-400;
                outline: none;
            }
        }

        &.transparent {
            background: transparent;
            color: inherit;
            transition: none;

            &:focus-visible {
                box-shadow: inset 0 0 0 1.5px theme("neutral-400");
                outline: none;
            }
        }

        &.icon {
            width: 44px;
            padding: 0;
        }
    }

    .textfield {
        display: flex;
        flex-direction: column;
        gap: $spacing-xs;

        .required {
            color: $other-error;
            margin-left: 2px;
        }

        input, textarea {
            display: flex;
            align-items: center;
            height: 44px;
            padding: 0 1.125rem;
            border-radius: 22px;
            background: theme("neutral-200");
            color: theme("neutral-900");
            border: none;

            &:active, &:focus-visible {
                box-shadow: inset 0 0 0 1.5px theme("neutral-400");
                outline: none;
            }
        }

        textarea {
            height: auto;
            min-height: 160px;
            padding: $spacing-s 1.125rem;
            resize: none;

            @include breakpoint-l {
                min-height: 200px;
            }
        }
    }

    .checkbox {
        display: flex;
        align-items: center;
        gap: $spacing-s;

        label {
            cursor: pointer;
            user-select: none;
        }

        input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            height: 20px;
            width: 100%;
            max-width: 20px;
            background: theme("neutral-200");
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &:active, &:focus-visible {
                box-shadow: inset 0 0 0 1.5px theme("neutral-400");
                outline: none;
            }
        }

        input[type="checkbox"]:after {
            font-family: "icomoon";
            content: "\e908";
            font-size: 20px;
            margin: 1px 0 0 1px;
            color: $neutral-900;
            display: none;
        }

        input[type="checkbox"]:checked {
            background: $yellow;

            &:after {
                display: flex;
            }

            &:active, &:focus-visible {
                box-shadow: inset 0 0 0 1.5px rgb(0 0 0 / 10%);
                outline: none;
            }
        }
    }
}