.products {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $primary-100;
    padding-bottom: $spacing-4xl;

    @media (min-width: 900px) {
        padding-bottom: 14rem;
    }

    &:after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary-100;
        z-index: -1;
        transform: skewY(-3deg);
        transform-origin: top left;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $spacing-m;

        @media (min-width: 900px) {
            flex-direction: row;
      }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: $spacing-s;
    }

    &__item {
        position: relative;
        background: $neutral-100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $spacing-s;
        padding: $spacing-l;
        border-radius: $radius-l;
        overflow: hidden;

        .small {
          display: none;
        }

        &.active {
            justify-content: flex-start;
            padding: $spacing-l $spacing-l $spacing-2xl $spacing-l;
            height: 100%;

            #progression-toggle, .progressbar, p.small {
              display: block;
            }
        }
    }

    &__picture {
        width: 100%;
        border-radius: $radius-l;

        @media (min-width: 900px) {
            max-width: 480px;
            height: 420px;
            object-fit: cover;
        }
    }

    &__slide {
        position: absolute;
        bottom: -120px;
        left: 0;
        height: 260px;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: flex-start;

        & img {
          border-radius: $radius-m;
        }

        @media (min-width: 600px) {
            height: 320px;
            align-items: center;
        }

        @media (min-width: 900px) {
            height: 420px;
            bottom: -200px;

            & img {
              height: 320px;
            }
        }
    }

    &__slides {
        transform: rotate(-3deg) translateX(-20px);
        display: flex;
        gap: $spacing-s;
        transition: transform 0.1s ease;
    }
}

.progressbar {
    position: absolute;
    display: none;
    background: $primary-800;
    height: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    
    &__progression {
        height: inherit;
        width: 180px;
        background: $primary-500;
    }
}

#progression-toggle {
    position: absolute;
    display: none;
    bottom: 16px;
    right: 16px;
    width: 44px;
    height: 44px;
    background: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
}