.story {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__step {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacing-l;
    }

    &__title {
        display: flex;
        align-items: center;
        background: $primary-100;
        padding: $spacing-xs $spacing-m;
        border-radius: $radius-round;
        font-size: 1rem;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: $spacing-xl;
    }
    
    &__picture > img {
        width: 84%;
        max-width: 420px;
        border-radius: $radius-l;
        transform: rotate(-3deg);        
    }

    &__picture {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:before {
            content: "";
            background: url("../img/picture_pin.svg") no-repeat center / cover;
            display: block;
            position: absolute;
            width: 76px;
            height: 21px;
            transform: rotate(-3deg);
            z-index: 1;     
            top: -13px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    &__candle {
        display: none;
    }

    &__scrolldown {
        position: absolute;
        bottom: 54px;
    }
}

