@include themes($themes) {
    .story {
        height: 400vh;
        display: flex;
        flex-direction: column;
        position: relative;
        background: theme("neutral-100");

        .container {
            height: 100dvh;
            @supports not ((-moz-appearance:none) or (-webkit-appearance:none)) {
                height: 100vh;
            }
            width: 100%;
            position: sticky;
            top: 0;
            padding: 0;
            gap: 0;

            h2 {
                position: absolute;
                top: 72px;
                z-index: 1;
            }
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1%;
            width: 100%;
            height: calc(100vw * 21px / 393px);
            background: url(theme("divider-tilt")) no-repeat center bottom / contain;
            background-size: 100%;
        }

        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;

            @include breakpoint-l {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;
                gap: $spacing-2xl;
            }
        }

        &__steps {
            height: 100dvh;
            @supports not ((-moz-appearance:none) or (-webkit-appearance:none)) {
                height: 100vh;
            }
            width: 100%;
            position: sticky;
            top: 0;
        }

        &__step {
            position: absolute;
            height: 100%;
            opacity: 0;
            transform: scale(0.9);

            &:nth-child(even) .story__picture {
                &:before {
                    transform: rotate(3deg);
                }

                & > img {
                    transform: rotate(3deg);
                }
            }

            &:nth-child(odd) .story__picture {
                &:before {
                    transform: rotate(-3deg) scaleX(-1);
                }

                & > img {
                    transform: rotate(-3deg);
                }
            }

            &.active {
                opacity: 1;
                transform: scale(1);
            }
        }

        &__step__content {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: $spacing-l;

            @include breakpoint-l {
                gap: $spacing-xl;
            }
        }

        &__title {
            display: flex;
            align-items: center;
            color: theme("neutral-900");
            background: theme("primary-100");
            padding: $spacing-xs $spacing-m;
            border-radius: $radius-round;
            font-size: 1.125rem;

            @media (min-width: $breakpoint-l) {
                font-size: 1.625rem;
                padding: $spacing-xs $spacing-l;
            }
        }

        &__description {
            display: flex;
            flex-direction: column;
            gap: $spacing-l;

            @include breakpoint-s {
                gap: $spacing-xl;
            }

            @include breakpoint-l {
                flex-direction: row;
                align-items: center;

                p {
                    max-width: 380px;
                }
            }
        }
        
        &__picture > img {
            width: 84%;
            height: auto;
            max-width: 420px;
            border-radius: $radius-l;

            @include breakpoint-l {
                width: max-content;
                max-width: 280px;
            }

            @include breakpoint-xl {
                max-width: 380px;
            }
        }

        &__picture {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.3s ease-out;

            &:before {
                content: "";
                background: url(theme("picture-pin")) no-repeat center / cover;
                display: block;
                position: absolute;
                width: 76px;
                height: 21px;
                z-index: 1;     
                top: -13px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }

        &__candle {
            display: none;

            @include breakpoint-l {
                display: flex;
            }

            svg {
                overflow: visible;

                .candle-flame {
                    transform-origin: 95px 60px;
                    animation: 5s ease-in-out flame infinite;

                }

                .bottom:nth-child(1) {
                    fill: theme("neutral-200");
                }
            }
        }

        &__scrolldown {
            position: absolute;
            bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            background: transparent;
            // border: 3px solid theme("neutral-200");
            border-radius: $radius-round;

            @include breakpoint-s {
                width: 56px;
                height: 56px;
            }

            @include breakpoint-l {
                border: none;
                top: calc(100dvh - 124px);
                @supports not ((-moz-appearance:none) or (-webkit-appearance:none)) {
                    top: calc(100vh - 124px);
                }

                svg {
                    width: 22px;
                    height: 22px;
                }
            }

            svg path {
                fill: theme("neutral-900");
            }

            svg {
                animation: 2.5s ease-in-out scrolldown-mobile infinite;

                @include breakpoint-l {
                    display: flex;
                    animation: 2.5s ease-in-out scrolldown-desktop infinite;
                }
            }
        }
    }
}

.candle-top {
    transform-origin: center center;
}