@include themes($themes) {
    .reinsurance {
        display: flex;
        flex-direction: column;
        background-color: theme("primary-100");
        position: relative;

        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            width: 100%;
            height: calc(100vw * 26px / 393px);
            background: url("../img/divider_wave_orange.svg") no-repeat center bottom / contain;
            background-size: 100%;
        }
        
        .container {
            padding-top: $spacing-xl;

            @include breakpoint-l {
                padding-bottom: 8rem;
            }

            @include breakpoint-xl {
                padding-bottom: 12rem;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: $spacing-xl;

            @include breakpoint-l {
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacing-m;
            width: 100%;
            max-width: 300px;
        }

        &__description {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacing-3xs;

            p {
                text-align: center;
                font-size: 1rem;
                line-height: 1.375rem;
                text-align: center;
            }
        }
    }

    .copyright {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $primary-500;
        position: relative;
        padding: 0 $spacing-l;

        @include breakpoint-l {
            align-items: center;
        }

        .container {
            gap: $spacing-l;
            padding-bottom: $spacing-l;
            align-items: flex-start;

            @include breakpoint-l {
                padding-bottom: $spacing-xl;
            }
        }

        &__top {
            display: flex;
            flex-direction: column;
            gap: $spacing-m;
            width: 100%;

            @include breakpoint-l {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__logo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: $spacing-xs;
            color: $primary-800;

            svg path {
                fill: $primary-800;
            }
        }

        &__socialmedia {
            display: flex;
            gap: $spacing-s;
            margin-left: -8px;

            @include breakpoint-l {
                margin: 0;
            }

            a {
                color: $primary-800;
                text-decoration: none;
                display: flex;
                height: 44px;
                width: 44px;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 2rem;
                }
            
            }
        }

        &__bottom {
            color: $primary-800;
            display: flex;
            flex-direction: column;
            gap: $spacing-l;
            width: 100%;

            @include breakpoint-l {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }

            & ul {
                display: flex;
                flex-direction: column;
                gap: $spacing-s;

                @include breakpoint-l {
                    flex-direction: row;
                    gap: $spacing-l;
                }
            }

            & ul li a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}