@include themes($themes) {
    header, .header {
        position: fixed;
        display: flex;
        justify-content: center;
        padding: 0 $spacing-m;
        width: 100%;
        height: 60px;
        z-index: 5;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, transparent);
        color: $neutral-100;
        transition: 0.15s ease;

        & button {
            @include breakpoint-l {
                display: none!important;
            }
        }

        &__button--mobile {
            display: flex!important;

            @include breakpoint-l {
                display: none!important;
            }
        }

        &__button--desktop {
            display: none!important;

            @include breakpoint-l {
                display: flex!important;
            }
        }

        &__logo {
            display: inline-block;
            height: 44px;

            & svg path {
                fill: #FCFCFC;
                transition: fill 0.15s ease;
            }

            & svg g {
                display: none;

                @include breakpoint-l {
                    display: block;
                }
            }
            
            @include breakpoint-l {
                & svg {
                    width: 191px;
                }
            }
        }

        &.scrolled, &.active {
            background: theme("neutral-100");
            color: theme("neutral-900");
            border-bottom: 1px solid theme("neutral-200");
            transition: 0s;

            .header__logo svg path {
                fill: theme("header-logo");
            }
        }

        &__navigation {
            display: flex;
            opacity: 0;
            background: rgba(0, 0, 0, .50);
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100vh;
            overflow: hidden;
            transition: opacity .15s ease;
            pointer-events: none;

            & button {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &.active {
                opacity: 1;
                pointer-events: auto;
            }

            @include breakpoint-l {
                position: initial;
                background: transparent;
                height: initial;
                opacity: 1;
                pointer-events: auto;
            }
        }

        & nav {
            display: flex;
            width: 100%;
            max-width: 1280px;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;

            @include breakpoint-l {
                flex-direction: row;
            }
        }

        & nav ul {
            display: flex;
            flex-direction: column;
            background: theme("neutral-100");
            width: 100%;
            height: fit-content;
            position: absolute;
            top: -252px;
            padding: $spacing-xs 0;
            transition: top 1s ease;

            @include breakpoint-l {
                flex-direction: row;
                background: transparent;
                position: initial;
            }
        }

        & nav ul li a {
            display: flex;
            align-items: center;
            height: 44px;
            padding: $spacing-s $spacing-l;
            text-decoration: none;
            color: inherit;
            font-weight: 600;
        }
    }
}